// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~select2/dist/css/select2.min.css';

@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';



// Custom CSS
.row {
  margin-bottom: 10px;
}

.container {
    margin-top: 30px;
}

div.dataTables_wrapper {
  width: 100%;
}